<meta charset="ISO-8859-1">
<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
<html xmlns:th="https://www.thymeleaf.org">
<body>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>File to upload:</td><td><input type="file" name="file" /></td></tr>
				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

<!--	<div>-->
<!--		<ul>-->
<!--			<li th:each="file : ${files}">-->
<!--				<a th:href="${file}" th:text="${file}" />-->
<!--			</li>-->
<!--		</ul>-->
<!--	</div>-->

	<style>
		div.mytable {
			margin: auto;
			width: 1020px;
			padding: 10px;
		}
	</style>

	<div class="mytable">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
<!--			<li class="breadcrumb-item"><a href="/">Home</a></li>-->
<!--			<li class="breadcrumb-item active" aria-current="page">numbers</li>-->
			</ol>
		</nav>
	</div>

	<table class="table table-striped table-primary">

		<thead class="ttop">
			<tr class="table-info">
			<td width="20px"><b> ID</b></td>
			<td><b>ORIGINAL NUMBER</b> </td>
			<td><b>IS VALID</b> </td>
			<td><b>CORRECTED NUMBER</b> </td>
			</tr>
		</thead>

		<tbody>
			<tr th:each="number, iStat : ${files}" th:style="${iStat.odd}? 'font-weight: normal;'">

			<td th:text="${number.id}" width="20px">
			</td><td th:text="${number.originalNumber}">
			</td><td th:text="${number.isValid}">
			</td><td th:text="${number.correctedNumber}">
			</td></tr>
		</tbody>
	</table>

</body>
</html>
